*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    small,input{
        font-weight: 900;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }
    button:hover{
        background-color: red;
        transition: 0.5s;
        
    }
}

